@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.u35a38 * {
    box-sizing: border-box;
}

.u35a38 {
    width: 100%;
    max-width: 620px;
    position: fixed;
    margin: 6px;
    z-index: 10000;
    font-family: 'Open Sans', sans-serif;
}

.u35a38-close-button {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    top: -5px;
    right: -5px;
    padding: 1px;
    background: #666;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    z-index: 11000;
}

.u35a38-close-button:hover {
    background: #555;
}

.u35a38-container {
    position: relative;
    padding-top: 35.5%;
}

.u35a38-container:before {
    display: block;
    content: "";
    width: 100%;
}

.u35a38-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.u35a38-content-top {
    background: #05b5a2;
    color: #fff;
    flex-grow: 1;
    font-size: 1.45em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    border-radius: 6px 6px 0 0;
}

.u35a38-content-bottom {
    background: #085c68;
    color: #fff;
    flex-basis: 25%;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 2% 5%;
    border-radius: 0 0 6px 6px;
}

.u35a38-logo {
    width: 15%;
    margin-right: 5%;
}

.u35a38-arrow {
    width: 6%;
    margin-right: 2%;
}

.u35a38-font-bold {
    font-weight: 700;
}

.u35a38-font-regular {
    font-weight: 400;
}
